<div class="inputs">
  <label for="">{{ 'toTypeTime' | translate }}: </label>
  <input type="number" #timeValue />
  <div class="button">
    <button (click)="calculate('seconds')">
      {{ 'seconds' | translate }}
    </button>
    <button (click)="calculate('minutes')">
      {{ 'minutes' | translate }}
    </button>
    <button (click)="calculate('hours')">
      {{ 'hours' | translate }}
    </button>
    <button (click)="calculate('days')">
      {{ 'days' | translate }}
    </button>
    <button (click)="calculate('weeks')">
      {{ 'weeks' | translate}}
    </button>
    <button (click)="calculate('months')">
      {{ 'months' | translate}}
    </button>
    <button (click)="calculate('years')">
      {{ 'years' | translate}}
    </button>
  </div>
</div>