$height: 50px;
.header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: $height;
  line-height: $height;

  .title {
    color: #ffffff;
    font-family: Prophecy;
    font-size: 1.1rem;
    line-height: $height;
  }
}
